
h1{
  text-align: center !important;
  font-size: 80px !important;
  align-items: center !important;
  font-family: 'Modak', cursive !important;
}
body{
  font-family: 'Aguafina Script'; font-size: 22px;
  background-color: #C63D0F;
}
.filterBtn{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.Add{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.sizeDisplay{
  margin-left: 0.5em;

}

<table>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
    width: 10%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
